.search {
  height: 3.75rem;
  padding-left: 25rem;
  padding-right: 25rem;

  .column {
    float: left;
  }

  .center {
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    display: flex;
    justify-content: center;

    .nav {
      display: inline-block;
      position: relative;
      list-style: none;

      .nav-title {
        padding: 0 1rem;
        display: inline-block;

        &:hover {
          cursor: pointer;
          border-bottom: 0.125rem solid black;
        }

        &:hover>.drop-down-list {
          cursor: default;
          visibility: visible;
        }

        .drop-down-list {
          visibility: hidden;
          position: absolute;
          z-index: 99;
          left: 0;
          top: 3.875rem;
          width: 75rem;
          transform: translateX(-22.25rem);
          display: flex;
          justify-content: space-around;
          line-height: 25px;
          background: rgba($color: #fff, $alpha: 1.0);

          .list-content {

            padding: 1.25rem 0 3.125rem;

            .listTitle {

              margin-bottom: 15px;

              li {
                a {
                  color: black;
                  font-size: 16px;
                }
              }
            }

            .title {
              margin: 20px 0 15px;
              li {
                a {
                  color: black;
                  font-size: 16px;
                }
              }
            }

            ul {

              list-style: none;

              li {

                a {

                  cursor: pointer;
                  font-size: 14px;
                  color: rgb(180, 175, 175);
                  text-decoration: none;

                  &:hover {
                    color: rgb(29, 27, 27);
                  }

                }

              }
            }
          }
        }

      }

    }

  }

  .left {
    width: 25rem;
    margin-left: -100%;
    position: relative;
    right: 25rem;

    .pre-logo-svg {
      padding-left: 3rem;
    }
  }

  .right {
    width: 25rem;
    height: 3.75rem;
    line-height: 3.75rem;
    margin-right: -25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search-button {
      position: relative;
      padding: 0 12px;

      .search-input {
        position: relative;
        height: 2.5rem;
        width: 8.125rem;
        background: #f5f5f5;
        outline: none;
        border: 0;
        border-radius: 1.25rem;
        padding-left: 2.5rem;
        font-size: 1rem;

        &:hover {
          background: #ebe7e7;
        }
      }

      input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #d4c2c2;
      }

      input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d4c2c2;
      }

      input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d4c2c2;
      }

      input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #d4c2c2;
      }

      .pre-search-input-icon {
        position: absolute;
        z-index: 2;
        top: 1.125rem;
        left: 1.25rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .favorite {
      padding: 0 0.75rem;
      height: 48px;

      &:hover {
        background: #ebe7e7;
        border-radius: 50%;
      }

    }

    .shopping-cart {
      height: 48px;
      margin-right: 3.5rem;
      padding: 0 0.75rem;

      &:hover {
        background: #ebe7e7;
        border-radius: 50%;
      }
    }
  }
}